{% extends "_base.html" %}
{% block content %}
<div class="content-subpage">
    <h2 class="content-head is-center">VM administration</h2>
    <div class="pure-g">
        <div class="pure-u-1 maxw-700 div-is-center">
            {% if verified and active %}
              <form action="{{ url_for('page_teamvm') }}" method="post">
                <button class="pure-button" type="submit" name="submit_button" value="restart"> Start/restart </button>
              </form>
              {% if response != "" %}
                <h3> {{response}} </h3>
              {% endif %}
            {% else %}
                <div class="pure-alert pure-alert-warning">
                    <span class="msg-type">Warning:</span>
                    You have to verify your e-mail-address before you can administrate your vm.<br>
                    <a href="{{url_for('page_verify_mail')}}">Request new activation mail</a>
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
